
        <!-- Page Header-->
        {% include "header.html" %}
        <!-- Main Content-->
<body>
        <header class="masthead" style="background-image: url('{{background_img}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Gokul's Blog</h1>
                            <span class="subheading">The collection of random musings</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for blog in all_blogs %}
                    <div class="post-preview">
                        <a href="{{url_for('show_post', post_id=blog.id)}}">
                            <h2 class="post-title">{{blog.title}}</h2>
                            <h3 class="post-subtitle">{{blog.subtitle}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{blog.author.name}}</a>
                            on {{blog.date}}
                            {% if current_user.get_id()|int == 1: %}
                            <a href="{{url_for('delete',post_id=blog.id)}}">✘</a>
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    {% if current_user.get_id()|int == 1: %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{url_for('add_new_post')}}">Create New Post →</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Footer-->
        {% include "footer.html" %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static', filename='/js/scripts.js')}}"></script>
    </body>

